
.wp-block-quote.is-large {
    padding: 0 4em;
    font-size: 16px;
    padding: 0 4em;
}
.wp-block-pullquote {
    &:not(.is-style-solid-color) {
        background: #f6f6f6;
        padding: 3em 2em;
    }
    &:before {
        position: relative;
    }
    blockquote: before{ position: relative;
}
.wp-block-coblocks-click-to-tweet {
    border-left: 4px solid #C9AB81;
}
.entry {
    .entry-content {
        .wp-block-audio {
            width: 100%;
            audio {
                width: 100%;
            }
        }
        .wp-block-audio.alignleft {
            audio {
                max-width: 198px;
            }
        }
        .wp-block-audio.alignright {
            audio {
                max-width: 198px;
            }
        }
        .wp-block-video {
            video {
                width: 100%;
            }
        }
    }
}
.wp-block-table.has-fixed-layout {
    width: initial;
    border: none;
}
.wp-block-quote.is-style-large {
    padding: 0 4em;
}
